<div class="py-8 flex flex-wrap md:flex-nowrap">
  <div class="w-full sm:w-2/12 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
    <span class="font-semibold title-font text-white uppercase"><%= article.data.category %></span>
    <span class="mt-1 text-gray-500 text-sm"><%= article.date.strftime("%d %b %Y") %></span>
  </div>
  <div class="md:flex-grow">
    <a
      href="<%= article.url %>"
      class='no-underline text-2xl font-medium text-white title-font mb-2'
    >
      <%= article.title %>
    </a>
    <p class="leading-relaxed text-balance">
      <% article.tags.each do |tag| %>
        <span class="rounded-lg py-1 px-2 bg-gray-700 text-gray-50 text-xs"><%= tag %></span>&nbsp;
      <% end %>
    </p>
  </div>
</div>
