<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= current_page.data.title || "Vincebot" %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <!-- script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script -->

    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "highlighting" %>

    <% if content_for?(:stylesheets) %>
      <%= yield_content :stylesheets %>
    <% end %>

    <%= javascript_importmap_tags %>

    <!-- style type="text/tailwindcss">
      @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
      }
    </style -->
  </head>
  <body class="<%= current_page.data.body_classes %>">
    <%= partial('components/navbar') %>

    <% if content_for?(:heading) %>
      <%= yield_content :heading %>
    <% end %>

    <main class="bg-gray-900 pb-20">
      <section class="text-gray-400 body-font overflow-hidden min-h-svh">
        <div class="container px-0 sm:px-2 md:px-6 lg:px-20 xl:px-60 pt-5 mx-auto">
          <%= yield %>
        </div>
      </section>
    </main>

    <%= partial('components/footer') %>

    <% if content_for?(:scripts) %>
      <%= yield_content :scripts %>
    <% end %>
  </body>
</html>
